@import 'const.scss';

@each $family in map-keys($font-families) {
  @include load-font-family($family);
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  @include font-Camber-Rg();
  background-color: #f8f8f8;
  height: 100%;

  @media #{$viewportMedium} {
    height: inherit;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3 {
  @include font-Camber-Md();
}

input {
  @include font-Camber-Rg();
}

#root {
  height: 100%;
}
