$themes: (
  blue: (
    backgroundColor: #2d20e2,
  ),
  black: (
    backgroundColor: #000,
  ),
  red: (
    backgroundColor: rgb(217, 14, 62),
  ),
);

@mixin theme-transitions {
  transition-delay: 0s;
  transition-duration: 500ms;
  transition-property: background;
  transition-timing-function: ease-in-out;
}

@mixin theme-colors {
  @each $name, $theme in $themes {
    &-theme--#{$name} {
      background-color: map-get($theme, 'backgroundColor');
    }
  }
  @include theme-transitions;
}

.Button {
  border: 0;
  outline: 0;
  padding: 0;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
  height: 48px;

  @include theme-colors;
}

.TextInput {
  font-size: 13px;
  border: 0;
  border-bottom: 1px solid #eee;
  line-height: 32px;
  outline: 0;
}

.Logo {
  background-size: cover;
  width: 36px;
  height: 36px;

  @each $name, $theme in $themes {
    &-theme--#{$name} {
      background-image: url('./logo-#{$name}@2x.png');
    }
  }
}

.Layer {
  background-color: white;
  display: inline-flex;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.1);
}

.Background {
  position: absolute;
  top: -200px;
  right: -200px;
  bottom: -200px;
  left: 41%;
  transform: rotate(9deg);

  @include theme-colors;
}

.Subheading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 12px 0;
  color: #fff;
  line-height: 14px;
}

.Checkbox {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: #FFF;
  margin-right: 12px;
  cursor: pointer;

  &--selected {
    background-image: url('./icon-check@2x.png');
    background-size: cover;
    background-color: #000;
  }
}

.ColorPicker {
  cursor: pointer;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
  border: solid 2px #ffffff;

  &-button {
    width: 24px;
    height: 16px;
    outline: 0;
    position: relative;

    @include theme-colors;

    &--selected::before {
      content: " ";
      border: 1px solid white;
      margin: 2px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.OptionGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.Option {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.5px;
  min-width: 160px;
  margin-top: 16px;
}

.CustomizeSection {
  max-width: 320px;

  h2 {
    color: #FFF;
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
  }
}

.TitleSection {
  max-width: 320px;

  h1 {
    color: #FFF;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -0.4px;
  }

  p {
    color: #d8d8d8;
    size: 16px;
    line-height: 28px;
  }

  a {
    color: #d8d8d8;
  }
}

.TeaserPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
  }

  &-left {
    margin: 40px;
  }

  &-right {
    margin: 40px;
  }

  &-form {
    padding: 16px;
    min-width: 408px;
    display: inline-flex;
    flex-direction: column;
  }

  &-logo {
    align-self: center;
    margin: 36px 36px 18px 36px;
  }

  &-input {
    margin: 32px 32px 0 32px;
  }

  &-button {
    margin-top: 72px;
  }
}
