@import 'const.scss';

.Button {
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF;
  height: 48px;

  @include theme-property(background-color, 'color')
  @include transition(background-color, opacity)

  &--disabled {
    opacity: 0.4;
    cursor: default;
    @include transition(background-color, opacity)
  }
}

.TextInput {
  font-size: 13px;
  border: 0;
  border-bottom: 1px solid #eee;
  line-height: 32px;
  outline: 0;
  width: 100%;
}

.LabeledTextInput {
  position: relative;

  &-label {
    font-size: 13px;
    line-height: 16px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #aaa;
    pointer-events: none;
    margin-bottom: 1em;
    @include transition(all 150ms ease-in-out);
  }

  &-label--active {
    margin-bottom: 3em;
    font-size: 11px;
    line-height: 14px;
  }

  &-input {

  }
}

.Logo {
  width: 36px;
  height: 36px;
  background-size: cover;
  background-image: url('./logo-white-transparent@2x.png');
  @include theme-property(background-image, 'logo')
}

.Checkmark {
  width: 52px;
  height: 52px;
  background-size: cover;
  @include theme-property(background-image, 'check')
}

.Layer {
  background-color: white;
  display: inline-flex;
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.1);
}

.Background {
  position: fixed;
  top: -200px;
  right: -200px;
  bottom: -200px;
  left: 41%;
  transform: rotate(9deg);
  @include theme-property(background-color, 'color')
  @include transition(background-color)

  @media #{$viewportMedium} {
    left: -200px;
    bottom: inherit;
    height: 100vh;
  }
}

.Subheading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  padding: 12px 0;
  color: #fff;
  line-height: 14px;
}

.Checkbox {
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background-color: #FFF;
  margin-right: 12px;
  cursor: pointer;

  &--selected {
    background-image: url('./icon-check@2x.png');
    background-size: cover;
    background-color: #000;
  }
}

.ColorPicker {
  cursor: pointer;
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34);
  border: solid 2px #ffffff;

  &-button {
    width: 24px;
    height: 16px;
    outline: 0;
    position: relative;

    @include theme-property(background-color, 'color')

    &--selected::before {
      content: " ";
      border: 1px solid white;
      margin: 2px;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.OptionGroup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.Option {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.5px;
  min-width: 160px;
  margin-top: 16px;
}

.CustomizeSection {
  max-width: 320px;

  h2 {
    color: #FFF;
    font-weight: 500;
    font-size: 28px;
    line-height: 48px;
  }
}

.TitleSection {
  max-width: 320px;
  align-items: center;

  @media #{$viewportMedium} {
    text-align: center;
  }

  h1 {
    color: #FFF;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: -0.4px;

    @media #{$viewportSmall} {
      font-size: 21px;
      line-height: 32px;
      letter-spacing: -0.2px;
    }
  }

  p {
    color: #d8d8d8;
    size: 16px;
    line-height: 28px;
  }

  a {
    color: #d8d8d8;
  }

  &-logo {
    display: none;
    margin: 0 auto;

    @media #{$viewportMedium} {
      display: block;
      margin-bottom: 25px;
    }
  }

  &-link {
    @media #{$viewportMedium} {
      display: none;
    }
  }
}

.TeaserPage {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;

  @media #{$viewportMedium} {
    justify-content: flex-start;
    margin-top: 25px;
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media #{$viewportMedium} {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &-left, &-right {
    margin: 40px;

    @media #{$viewportMedium} {
      margin: 20px;
    }
  }

  &-left {
    min-width: 408px;
    @media #{$viewportSmall} {
      min-width: 320px;
    }
  }

  &-form {
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;

    input {
      &::placeholder {
        color: #aaa;
      }
    }

    @media #{$viewportSmall} {
      padding: 32px;
    }
  }

  &-waitlist {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 32px;

    @include theme-property(color, 'color')
  }

  &-checkmark {
    margin-bottom: 18px;
  }

  &-logo {
    align-self: center;
    margin: 36px 0 18px 0;

    @media #{$viewportMedium} {
      display: none;
    }
  }

  &-input {
    margin-top: 32px;
  }

  &-captcha {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: -40px;
  }

  &-button {
    margin-top: 72px;
  }
}
